*{
    margin:0;
    padding:0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family:sans-serif;
    /* border:1px solid rgb(31, 29, 29); */
}

header{
    width:100%;
    /* background-color: red; */
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:3% 20px 3% 20px;
    background-color:rgba(2, 2, 31, 0.048);
}

header .headLogo{
    cursor:pointer;
}
header h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:25px;
    color:rgb(4, 4, 65);
    font-weight:bolder;
    border-radius: 100%;
    border:1px solid  rgba(8, 8, 8, 0.199);
    background-color: rgba(0, 0, 0, 0.096);
}
header h1 span{
    font-size: 40px;
}
span{
    color:rgb(4, 4, 65);
}
.menu{
    display:flex;
    align-items: center;
    cursor: pointer;
}
header ul{
    display:none;
    width:40%;
    justify-content: space-between;
    
}
header ul a{
    color:rgb(2, 2, 32);
    font-weight: bolder;
}
header ul a:hover{
    color:rgb(10, 10, 122);
    text-decoration: underline;
}

/* end of header */
/* beginning of the main part */
.home{
    padding: 10% 20px 3% 20px;
    
}
.homeText{
    line-height: 1.5;
    margin-bottom: 10%;
    text-align: center;
}
.homeText p{
    font-size: 14px;
    font-family: sans-serif;
    font-weight: bolder;
}
.homeText h1{
    font-size: 45px;
    font-family: sans-serif;
    font-weight: bolder;
}
.homeText h3{
    font-size:18px;
    font-family: sans-serif;
    font-weight: bolder;
}
.home button {
    padding:8px 20px;
    margin-top: 10px;
    color:black;
    border:none;
    font-weight: bolder;

    font-size: 15px;
    border-radius: 5px;
    transition: 250ms ease-in-out;

}
.home button:hover {
  background-color: rgb(4, 4, 65); ;
    color:white
}
.about{
    padding: 10% 20px 3% 20px;
    display:flex;
    background-color: rgba(3, 3, 39, 0.068);
    flex-direction: column;
}
.skill{
    width:100%;
    display:flex;
    flex-direction: column;
}
.skillCarry{
    display: flex;
    background-color: grey;
    width:100%;
    height:15px;
    border-radius: 6px;
    margin-bottom: 2%;
    
}
.skillMain{
    background-color: blue;
    border-radius: 8px;
    width:70%;
    height: 100%;
    
}
.letter{
    display:flex;
    margin-top: 2%;
    justify-content: space-between;
}
.letter p{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 2px;
}
.about h1{
    margin-top: 5%;
}

.aboutCarry > p{
    font-family:sans-serif;
    font-size: 16px;
    margin-top: 2%;
    line-height:1.5;
    margin-bottom: 5%;
}
.projects{
    padding: 10% 20px 3% 20px;
    display:flex;
    flex-direction: column;
    margin:auto
}
.proj{
    display:flex;
    width:300px;
    height:200px;
    margin:auto;
    margin-bottom: 5%;
    margin-top: 5%;
    border:none;
    font-weight: bolder;
    border-radius: 15px;
    /* background-color: red; */
    box-shadow: 2px 2px 10px 1px;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition:500ms ease-in-out

}
.proj:hover{
    background-color:rgb(4, 4, 65);
    width:320px;
    height:200px;
    border-radius: 30px;
    color:rgb(238, 238, 238);
    font-weight: bolder;
}
footer{
    padding-top:20px;
    padding-bottom:20px;
    color:white;
    background-color: rgb(4, 4, 65);
    display:flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
}
footer a{
    color:white
}

/* end of the main part */

/* media query begins here */

@media only screen and (min-width:760px){
    header{
        
        padding:2% 20px 2% 20px;
        
    }
    .menu{
        display:none;
    }
    header ul{
        display:flex;
        color:rgb(3, 3, 36)
        
    }
    .homeText{
        line-height: 1.5;
        margin-bottom: 10%;
        text-align: left;
        width:40%;
    }
    .girl{
        width:35%;
    }
    .home{
        padding: 3% 20px 3% 20px;
        display:flex;
        align-items: center;
        justify-content: center;
    }
    .about{
        padding: 3% 20px 3% 20px;
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    .aboutCarry{
        width:40%;
    }
    .skillCarryMain{
        width:40%
    }
    .projCarry{
        padding: 3% 50px 3% 50px;
        display:flex;
        flex-wrap: wrap;
    }
    .proj{
        width:350px;
        height:300px;
        color:rgb(3, 3, 32)
    }
    .proj:hover{
        width:350px;
        height:300px
    }
}


/* media query ends here */